.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  background-color: $dark-bg;
  position: relative;
  display: flex;
  align-items: center;

    &::after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: 85px;
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
  }
}

.footer-contact-part {
  @media screen and(min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  @media screen and(min-width: 1200px) {
    display: flex;
    width: 550px;
    padding-left: 100px;
    justify-content: space-around;
    align-items: center;
  }
}

.footer-widget {
  margin-bottom: 50px;
  text-align: center;

  @include for-size(desktop) {
    margin-bottom: 0;
  }
}

.logo-svg {
  width: 145px;
  height: 100px;
}

.footer-contacts-link:not(:last-child) {
  margin-bottom: 8px;
}

.footer-contact-link{
  color: $icon-grey;
}

.adress{
  margin-top: 10px;
  // text-transform: uppercase;
}

.footer-links {
  text-align: center;
  margin-bottom: 50px;

  @include for-size(desktop) {
    margin-bottom: 0;
  }
}

.join {
  margin-bottom: 20px;
  @include fonts(14px, 700, 1.14, 0.03em);
  text-transform: uppercase;
  color: $white;

  @include for-size(desktop) {
    text-align: left;
  }
}

.social-links {
  display: inline-flex;
  margin-bottom: 24px;

  @include for-size(desktop) {
    margin-bottom: 30px;
  }
}

.social-item:not(:first-child) {
  margin-left: 10px;
}

.social-link-footer {
  @include centered(flex);
  border-radius: 50%;
  @include size(44px, 44px);
  background: rgba(255, 255, 255, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-cl;
    fill: $black;
  }
}

.social-icon-footer {
  @include size(20px, 20px);
  fill: #fff;

  &:hover,
  &:focus {
    fill: $black;
  }
}
