@import './styleDefoult/mixin';
.footer{
    margin-top: -10px;
    position: relative;
    background-color: #fff5f6;
    &::after{
        display: block;
        content: "";
        position: absolute;
        left: 0;
        bottom: 90px;
        width: 100%;
        height: 1px;
        background-color: #E1E1E1;
    
    }
}
.footer-container {
    @include container();
    background-color: #fff5f6;
    padding-top: 110px;
    padding-bottom: 25px;
    @media screen and (min-width: 768px){
        padding-top: 0px;
        .footer-icon{
            width: 34px;
            height: 34px;
        }
    }
   
}
.common{
    @media screen and (min-width: 768px) {

        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom:120px ;
    }

    @media screen and (min-width: 1280px) {


        display: flex;
        justify-content: space-between;
        align-items: baseline;

    }
}
.fotter-first-container {
   @media screen and (min-width: 768px) {
      
       justify-content: space-around;
       align-items: center;
         }
   @media screen and (min-width: 1280px) {

     
      justify-content: space-around;
      align-items: center;
       
   }
}
.footer-title {
   
    width: 232px;
   
    color: #ffa5ba ;

    font-family: titan one;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.18;
    text-transform: uppercase;


   @media screen  and (min-width: 768px){
      width: 340px;
      font-size: 26px;
      letter-spacing: 0,04rem;
   } 
   @media screen and (min-width: 1280px) {
       width: 472px;
       font-size: 30px;  
   }
}

.footer-passion {
    width: 200px;

    color: #d41443;
    font-family: titan one;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
   
    margin-top: 15px;
    @media screen and (min-width: 768px) {
        
        font-size: 48px;
        letter-spacing: 0,06rem;
    }

    @media screen and (min-width: 1280px) {
        width: 474px;
        font-size: 58px;
    }
}
.right{
   
    @media screen and (min-width: 768px) {

       justify-content: flex-end;
    }

    @media screen and (min-width: 1280px) {
        justify-content: flex-end;
        
    }
}
.footer-list{
   
   list-style: none; 
   padding-left:0 ;
    display: flex;
}
.footer-list li{
   margin-bottom: 23px;

   @media screen and (min-width: 1280px) {
   
      &:hover,
      &:focus{
         color: #d41443;
          fill: #fff5f6; }

      } 
      
    }
     
.footer-social-container {
   justify-content: center;
   padding-left: 145px;
   background-color: #fff5f6;
    margin-top: 40px;
   @media screen and (min-width: 768px) {

       display: flex;
       justify-content: space-around;
       align-items: center;
       
   }

   @media screen and (min-width: 1280px) {
      
    display: flex;
    justify-content: space-around;
    align-items: center;
     
   }
}

.footer-icon{

    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
     margin-right: 25px;
     
}
.footer-contact-container {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
    @media screen and (min-width: 1280px) {

       display: flex;
       justify-content: space-around;
       align-items: center;
    }
}
.footer-pointer {
    margin-top: 45px;
    margin-bottom:65px;
    width: 230px;

    font-family: Dm sans;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    align-items: center;
    padding-left: 40px;

    @media screen and (min-width: 768px) {
        
        
        width: 268px;
        font-size: 14px;
        margin-right:40px ;
    }
    @media screen and (min-width: 1280px) {
       
        width: 319px;
        font-size: 16px;
        letter-spacing: 0,02em;
    }
   
}
.footer-contact{
  
    font-family: Dm sans;
    font-size: 12px;
    font-weight: bold;
     align-items: center;
    color: #d41443;

     @media screen and (min-width: 768px) {
         width: 268px;
         font-size: 14px;

     }
     @media screen and (min-width: 1280px) {

         width: 319px;
         font-size: 16px;
         letter-spacing: 0,02em;
     }
    
}
.footer-logo-containe {
    width: 320px;
 display: flex;
 align-items: center;  
 
 text-align: center;
 margin-top: 65px;
   background-color: #fff5f6;
 
 }
.footer-logo{
width: 149px;
margin-top: 40px;
font-family: Dm sans;
font-weight: bold;
font-size: 14px;
text-align: center;
color: #907E82;
padding-left: 55px;
background-color: #fff5f6;

 @media screen and (min-width: 768px) {
     margin: 0 auto;
     width: 276px;
     font-size: 14px;
     letter-spacing: 0,02em;
     text-align: right;
    
 }

 }