.header {
  position: relative;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  // border: 3px solid red;
  // border-bottom: 1px solid #ececec;
  // background-color: #fff;
  // top: 0;
  // z-index: 100;
  // width: 100%;
}

.header-main {
  position: relative;
  display: none;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  

  @media screen and(min-width: 768px) {
    display: flex;
    height: 40px;
  }

  @media screen and(min-width: 1200px) {
    display: flex;
    height: 30px;
  }
}

.first-part-header{
  display: flex;
}
.header-contacts {
  display: flex;
  justify-content: space-around;
  width: 300px;
  font-size: 10px;

  @media screen and(min-width: 768px) {
    width: 180px;
  }

  @media screen and(min-width: 1200px) {
    width: 300px;
  }
}

.whatsapp {
  @media screen and(min-width: 1200px) {
    margin-left: 100px;
  }
}
.contact-link {
  display: inline-flex;
  align-items: center;

  font-size: 18px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;

  @media screen and(min-width: 768px) {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;

    @media screen and(min-width: 1200px) {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;
    }
  }
}

// .header-logo {
//   border: 1px solid red;
// }

.container-navigation {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // border: 3px solid purple;
}

.main-nav {
  width: 100%;
  display: flex;
  align-items: center;

  @media screen and(max-width: 767px) {
    width: 100%;
    justify-content: space-between;
    height: 60px;
  }

  @media screen and(min-width: 768px) {
    height: 110px;
    justify-content: center;
  }
}

.header-logo {
  // border: 1px solid blue;

  margin-right: 30px;
  margin-left: 30px;
  @media screen and(min-width: 768px) {
    display: none;
  }
}

.social-links-header {
  display: inline-flex;
}

.links-mob {
  // border: 1px solid rebeccapurple;
  display: flex;
  width: 180px;

  @media screen and(min-width: 768px) {
    display: none;
  }
}

.header-menu-button {
  width: 180px;
}

.icon-contact {
  width: 25px;
  height: 25px;
  // margin-right: 10px;
  fill: #252525;
}

.logo-mob {
  display: flex;

  @media screen and(min-width: 768px) {
    display: none;
  }
}




.menu-container {
  text-align: center;
  background-color: #fff;
  top: 100%;
  left: 0;
  display: flex;
  z-index: 100;

  @media screen and(max-width: 767px) {
    text-align: left;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 0px 0px rgba(0, 0, 0, 0);
    background-color: #fff;
    position: absolute;
    border-radius: 0 0 100px 0;
    width: 250px;
    padding: 20px;
    padding-bottom: 50px;
  }

  @media screen and(max-width: 767px) {
    display: none;
  }

  &.is-open {
    display: block;

    @media screen and(min-width: 768px) {
      display: flex;
      border-radius: 0;
    }
  }
}

.site-nav {
  margin-bottom: 0;
  display: block;
  text-transform: uppercase;

  @media screen and(min-width: 768px) {
    display: flex;
    align-items: center;
  }

  .item {
    @media screen and(max-width: 767px) {
      display: flex;
      height: 40px;
      align-items: center;
      justify-content: left;
      // padding-bottom: 10px;
    }
    &:last-child {
      @media screen and(max-width: 767px) {
        display: flex;
        // height: 100px;
        justify-content: left;
        margin-bottom: 20px;
      }
    }
    &:not(:last-child) {
      // margin-right: 50px;

      @media screen and(max-width: 767px) {
        margin-right: 0;
      }

      @media screen and(min-width: 768px) {
        margin-right: 20px;
      }

      @media screen and(min-width: 1200px) {
        margin-right: 50px;
      }
    }
  }

  .link {
    display: block;
  }
}

.item {
  // border: 1px solid tomato;
  width: 150px;
  display: block;
  align-items: center;
  justify-content: center;
}

.nav-link {
  width: 300px;
  text-decoration: none;
  color: $main-text-cl;
}

.auth-nav {
  align-items: center;
  display: block;

  @media screen and(min-width: 768px) {
    display: none;
  }

  @media screen and(min-width: 1200px) {
    margin-left: auto;
  }

  .item {
    margin-left: auto;
    margin-right: auto;

    @media screen and(min-width: 768px) {
      padding-bottom: 0;
      margin-top: 0;
      margin-left: 70px;
      text-align: left;
    }
  }

  @media screen and(min-width: 1200px) {
    display: none;

    .item + .item {
      margin-left: 50px;
    }
  }

  .item:not(:last-chverild) {
    margin-bottom: 10px;
  }
}

//icons

.icon {
  display: block;
  width: 18px;
  height: 18px;
  fill: #252525;

  &:hover,
  &:focus {
    color: pink;
    fill: pink;
  }
}

.header-logo{
  // border: 1px solid blue;
  // height: 80px;
}
.icon-logo {

  display: block;
  width: 80px;
  height: 60px;

  @media screen and(min-width: 768px) {
    height: 100px;
    width: 160px;
  }
}
