.header {
  position: relative;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  border-bottom: 1px solid #ececec;
}

.header-main {
  position: relative;
  display: none;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid grey;

  @media screen and(min-width: 768px) {
    display: flex;
    height: 80px;
  }
}

.header-contacts {
  display: flex;
  justify-content: space-around;
  width: 300px;

  @media screen and(min-width: 768px) {
    width: 250px;
  }

  @media screen and(min-width: 1280px) {
    width: 300px;
  }
}

.contact-link {
  display: inline-flex;
  align-items: center;

  font-size: 18px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;

  @media screen and(min-width: 768px) {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;

    @media screen and(min-width: 1280px) {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;
    }
  }
}

.logo {
  // border: 1px solid red;
}

.container-navigation {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // border: 3px solid purple;
}

.main-nav {
  width: 100%;
  display: flex;
  align-items: center;

  @media screen and(max-width: 767px) {
    width: 100%;
    justify-content: space-between;
    height: 60px;
  }

  @media screen and(min-width: 768px) {
    height: 80px;
    justify-content: center;
  }
}

.links-mob {
  display: flex;
  width: 190px;

  @media screen and(min-width: 768px) {
    display: none;
  }
}

.icon-contact {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.logo-mob {
  display: flex;

  @media screen and(min-width: 768px) {
    display: none;
  }
}

.menu-container {
  text-align: center;
  background-color: #fff;
  top: 100%;
  left: 0;
  display: flex;
  z-index: 100;

  @media screen and(max-width: 767px) {
    text-align: left;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    background-color: #fff;
    position: absolute;
    border-radius: 0 0 100px 0;
    width: 250px;
    padding: 20px;
    padding-bottom: 50px;
  }

  @media screen and(max-width: 767px) {
    display: none;
  }

  &.is-open {
    display: block;

    @media screen and(min-width: 768px) {
      display: flex;
      border-radius: 0;
    }
  }
}

.site-nav {
  margin-bottom: 0;
  display: block;

  @media screen and(min-width: 768px) {
    display: flex;
  }

  .item {
    @media screen and(max-width: 767px) {
      display: flex;
      height: 40px;
      // align-items: center;
      justify-content: left;
      // padding-bottom: 10px;
    }
    &:last-child {
      @media screen and(max-width: 767px) {
        display: flex;
        height: 40px;
        justify-content: left;
        margin-bottom: 20px;
      }
    }
    &:not(:last-child) {
      // margin-right: 50px;

      @media screen and(max-width: 767px) {
        margin-right: 0;
      }

      @media screen and(min-width: 768px) {
        margin-right: 20px;
      }

      @media screen and(min-width: 1200px) {
        margin-right: 50px;
      }
    }
  }

  .link {
    display: block;
  }
}

.item {
  display: block;
  align-items: center;
  justify-content: center;
}

.nav-link {
  width: 300px;
  text-decoration: none;
}

.auth-nav {
  align-items: center;
  display: block;

  @media screen and(min-width: 768px) {
    display: none;
  }

  @media screen and(min-width: 1280px) {
    margin-left: auto;
  }

  .item {
    margin-left: auto;
    margin-right: auto;

    @media screen and(min-width: 768px) {
      padding-bottom: 0;
      margin-top: 0;
      margin-left: 70px;
      text-align: left;
    }
  }

  @media screen and(min-width: 1280px) {
    display: none;

    .item + .item {
      margin-left: 50px;
    }
  }

  .item:not(:last-child) {
    margin-bottom: 10px;
  }
}
