@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  font-family: "DM Sans", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body * {
  font-family: "Old Standard TT", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* Утилиты */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.link {
  color: #757575;
  fill: #757575;
  text-decoration: none;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover, .link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}
@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.contact-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.section-title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
@media (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.psevdo-active {
  position: relative;
}
.psevdo-active:after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  margin: 0 auto;
  margin-top: 8px;
  background: #2196f3;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .psevdo-active:after {
    margin-top: 28px;
  }
}

.current:visited {
  color: #2196f3;
}

.button {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  color: #2196f3;
  background-color: #ffffff;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.menu-button .icon-cross {
  display: none;
}
@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.menu-button:hover .icon-menu {
  fill: #2196f3;
}
.menu-button:hover .icon-cross {
  fill: #2196f3;
}

.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}

.subscribe-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 200px;
  height: 50px;
  padding: 13px 29px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.subscribe-button:hover, .subscribe-button:focus {
  background-color: #ffffff;
  color: #2196f3;
  fill: #2196f3;
}
.subscribe-button:hover .icon-send, .subscribe-button:focus .icon-send {
  fill: #2196f3;
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-button {
  display: inline-block;
  padding: 6px 22px;
  min-width: 73px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-button:hover, .list-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons-menu {
  margin-bottom: 50px;
}

.button-menu-list:not(:last-child) {
  margin-right: 8px;
}

.button-menu-list {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .button-menu-list {
    margin-bottom: 0;
  }
}

.button-menu-list:nth-child(n+2) {
  margin-bottom: 0;
}

.subscribe {
  margin-left: auto;
  text-align: center;
}

.subscribe-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .subscribe-form {
    flex-direction: row;
  }
}

.subscribe-input {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media (min-width: 768px) {
  .subscribe-input {
    width: 450px;
    margin-right: 12px;
  }
}
@media (min-width: 1200px) {
  .subscribe-input {
    margin-bottom: 0;
    width: 358px;
  }
}

button:hover,
.discription-btn:hover,
.discription-btn:hover,
.header-button:hover {
  cursor: pointer;
}

.aboutus {
  background-color: #ffffff;
  border: 1px solid #d41443;
  width: 100%;
  display: block;
  align-items: center;
  justify-content: center;
}

.aboutus-heading {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .aboutus-heading {
    font-size: 48px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1280px) {
  .aboutus-heading {
    font-size: 58px;
    line-height: 1.14;
  }
}

.list-direction {
  width: auto;
}
@media (min-width: 768px) {
  .list-direction {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .list-direction {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .item-direction:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .item-direction {
    width: calc((100% - 60px) / 2);
    margin-bottom: 30px;
  }
  .item-direction:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  .item-direction:nth-child(2n) {
    margin-left: 30px;
  }
}
@media (min-width: 1200px) {
  .item-direction {
    width: calc((100% - 120px) / 4);
    margin-bottom: 0;
  }
  .item-direction:not(:first-child) {
    margin-left: 30px;
  }
}

.item-div-us {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

.directions {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
}

button:hover,
.discription-btn:hover,
.discription-btn:hover,
.header-button:hover {
  cursor: pointer;
}

.hero {
  background-color: #D44A7A;
  border: 5px solid black;
  height: 740px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.examples {
  background-color: #ffffff;
  border: 1px solid #d41443;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.examples-heading {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .examples-heading {
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .examples-heading {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 20px;
  }
}

.examples-title {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: #d41443;
}

.examples-text {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: #893f21;
}

.div-examples {
  display: block;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .div-examples {
    display: flex;
    max-width: 1100px;
  }
}

.gallery-list {
  display: flex;
  list-style: none;
}

.gallery-image {
  width: 350px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .gallery-image {
    width: 400px;
  }
}

.splide-section {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}
@media screen and (min-width: 768px) {
  .splide-section {
    width: 750px;
  }
}
@media screen and (min-width: 1200px) {
  .splide-section {
    display: block;
    width: 1100px;
  }
}

.my-page {
  background-color: #d41443;
}

.my-page.is-active {
  background-color: #d41443;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.example-box {
  margin-bottom: 50px;
}

.splide-thumb {
  width: 350px;
  display: flex;
  justify-content: center;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .splide-thumb {
    width: 400px;
  }
}

.arrow {
  right: -3em;
}

.arrow-prev {
  left: -3em;
}

.splide__slide {
  opacity: 0.7;
}

.splide__slide.is-active {
  opacity: 1;
}

.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: none;
}

button:hover,
.discription-btn:hover,
.discription-btn:hover,
.header-button:hover {
  cursor: pointer;
}

.prices {
  background-color: #ffffff;
  border: 1px solid #d41443;
}

.prices-heading {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .prices-heading {
    font-size: 48px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .prices-heading {
    font-size: 58px;
    line-height: 1.14;
  }
}

.prices-boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .prices-boxes {
    justify-content: center;
  }
}

.price-item {
  display: flex;
  border: 1px solid grey;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.15);
  border: 4px;
}

.large {
  margin-left: 2px;
  width: 165px;
  height: 190px;
}
.large:hover, .large:focus, .large:touchstart {
  color: #2196f3;
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .large {
    margin-left: 5px;
    width: 175px;
    height: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .large {
    height: 300px;
    width: 275px;
  }
}

.big {
  margin-top: 60px;
  margin-left: 10px;
  width: 100px;
  height: 80px;
}
@media screen and (min-width: 768px) {
  .big {
    margin-left: 30px;
    width: 110px;
    height: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .big {
    height: 150px;
    width: 130px;
  }
}

.medium {
  margin-left: 10px;
  margin-top: 20px;
  width: 70px;
  height: 50px;
}
@media screen and (min-width: 768px) {
  .medium {
    margin-left: 20px;
    width: 80px;
    height: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .medium {
    width: 100px;
    height: 80px;
  }
}

.small {
  margin-left: 25px;
  margin-top: 25px;
  width: 40px;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .small {
    margin-left: 60px;
    margin-top: 40px;
    width: 50px;
    height: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .small {
    width: 75px;
    height: 90px;
  }
}

.extra-big {
  margin-top: 20px;
  margin-left: 40px;
  width: 110px;
  height: 90px;
}
@media screen and (min-width: 768px) {
  .extra-big {
    width: 120px;
    height: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .extra-big {
    width: 150px;
    height: 130px;
  }
}

.medium-big {
  margin-top: -10px;
  margin-left: 35px;
  width: 80px;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .medium-big {
    width: 90px;
    height: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .medium-big {
    width: 110px;
    height: 90px;
  }
}

.box-pr {
  display: flex;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products {
  background-color: #ffffff;
  border: 1px solid #d41443;
  height: 740px;
  width: 100%;
  display: block;
  align-items: center;
  justify-content: center;
}

.products-heading {
  margin-top: 0;
  margin-bottom: 144px;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .products-heading {
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .products-heading {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 259px;
  }
}

.header {
  position: relative;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  border: 3px solid red;
}

.header-main {
  position: relative;
  display: none;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid grey;
}
@media screen and (min-width: 768px) {
  .header-main {
    display: flex;
    height: 80px;
  }
}

.header-contacts {
  display: flex;
  justify-content: space-around;
  width: 300px;
}
@media screen and (min-width: 768px) {
  .header-contacts {
    width: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    width: 300px;
  }
}

.contact-link {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .contact-link {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contact-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.main-nav {
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .main-nav {
    width: 100%;
    justify-content: space-between;
    height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .main-nav {
    height: 80px;
    justify-content: center;
  }
}

.links-mob {
  display: flex;
  width: 190px;
}
@media screen and (min-width: 768px) {
  .links-mob {
    display: none;
  }
}

.icon-contact {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.logo-mob {
  display: flex;
}
@media screen and (min-width: 768px) {
  .logo-mob {
    display: none;
  }
}

.menu-container {
  text-align: center;
  background-color: #fff;
  top: 100%;
  left: 0;
  display: flex;
  z-index: 100;
}
@media screen and (max-width: 767px) {
  .menu-container {
    text-align: left;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    background-color: #fff;
    position: absolute;
    border-radius: 0 0 100px 0;
    width: 250px;
    padding: 20px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
  }
}
.menu-container.is-open {
  display: block;
}
@media screen and (min-width: 768px) {
  .menu-container.is-open {
    display: flex;
    border-radius: 0;
  }
}

.site-nav {
  margin-bottom: 0;
  display: block;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .site-nav .item {
    display: flex;
    height: 40px;
    justify-content: left;
  }
}
@media screen and (max-width: 767px) {
  .site-nav .item:last-child {
    display: flex;
    height: 40px;
    justify-content: left;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .site-nav .item:not(:last-child) {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .site-nav .item:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }
}
.site-nav .link {
  display: block;
}

.item {
  display: block;
  align-items: center;
  justify-content: center;
}

.nav-link {
  width: 300px;
  text-decoration: none;
}

.auth-nav {
  align-items: center;
  display: block;
}
@media screen and (min-width: 768px) {
  .auth-nav {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    margin-left: auto;
  }
}
.auth-nav .item {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .auth-nav .item {
    padding-bottom: 0;
    margin-top: 0;
    margin-left: 70px;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: none;
  }
  .auth-nav .item + .item {
    margin-left: 50px;
  }
}
.auth-nav .item:not(:last-child) {
  margin-bottom: 10px;
}

button:hover,
.discription-btn:hover,
.discription-btn:hover,
.header-button:hover {
  cursor: pointer;
}

.footer {
  position: relative;
  background-color: #fff5f6;
  border: 2px solid violet;
}
.footer::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 90px;
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
}

.footer-container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 25px;
}
@media screen and (min-width: 320px) {
  .footer-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 600px;
  }
}
@media screen and (max-width: 325px) {
  .footer-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    padding-left: 35px;
    padding-right: 35px;
    max-width: 1000px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-container {
    padding-left: 115px;
    padding-right: 115px;
    max-width: 1280px;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    padding-top: 0px;
  }
}

.common {
  display: flex;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .common {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 120px;
  }
}
@media screen and (min-width: 1280px) {
  .common {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.left-section {
  width: 150px;
}

.right-section {
  justify-content: center;
  width: 150px;
  height: 50px;
  margin-top: 50px;
  padding-left: 5px;
}

@media screen and (min-width: 768px) {
  .fotter-first-container {
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .fotter-first-container {
    justify-content: space-around;
    align-items: center;
  }
}

.logo-footer {
  width: 145px;
  height: 145px;
}

.footer-item {
  display: block;
  align-items: center;
  justify-content: center;
}

.footer-auth-nav {
  align-items: center;
  display: block;
}
@media screen and (min-width: 768px) {
  .footer-auth-nav {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .footer-auth-nav {
    margin-left: auto;
  }
}
.footer-auth-nav .item {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .footer-auth-nav .item {
    padding-bottom: 0;
    margin-top: 0;
    margin-left: 70px;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .footer-auth-nav {
    display: none;
  }
  .footer-auth-nav .item + .item {
    margin-left: 50px;
  }
}
.footer-auth-nav .item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-contact-link {
  display: inline-flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer-contact-link {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer-contact-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.footer-title {
  width: 232px;
  color: #ffa5ba;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.18;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .footer-title {
    width: 340px;
    font-size: 26px;
    letter-spacing: 0, 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer-title {
    width: 472px;
    font-size: 30px;
  }
}

.footer-passion {
  width: 200px;
  color: #d41443;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .footer-passion {
    font-size: 48px;
    letter-spacing: 0, 6rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer-passion {
    width: 474px;
    font-size: 58px;
  }
}

@media screen and (min-width: 768px) {
  .right {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .right {
    justify-content: flex-end;
  }
}

.footer-list {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.footer-list li {
  margin-bottom: 23px;
}
@media screen and (min-width: 1280px) {
  .footer-list li:hover, .footer-list li:focus {
    color: #d41443;
    fill: #fff5f6;
  }
}

.footer-social-container {
  justify-content: center;
  padding-left: 145px;
  background-color: #fff5f6;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .footer-social-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .footer-social-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.footer-icon {
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 25px;
}

@media screen and (min-width: 768px) {
  .footer-contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .footer-contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.footer-pointer {
  margin-top: 45px;
  margin-bottom: 65px;
  width: 230px;
  font-size: 12px;
  font-weight: 700;
  text-align: right;
  align-items: center;
  padding-left: 40px;
}
@media screen and (min-width: 768px) {
  .footer-pointer {
    width: 268px;
    font-size: 14px;
    margin-right: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-pointer {
    width: 319px;
    font-size: 16px;
    letter-spacing: 0, 2em;
  }
}

.footer-contact {
  font-size: 12px;
  font-weight: 700;
  align-items: center;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .footer-contact {
    width: 268px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-contact {
    width: 319px;
    font-size: 16px;
    letter-spacing: 0, 2em;
  }
}

.footer-logo-containe {
  width: 320px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 65px;
  background-color: #fff5f6;
}

.footer-logo {
  width: 149px;
  margin-top: 40px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #907e82;
  padding-left: 55px;
  background-color: #fff5f6;
}
@media screen and (min-width: 768px) {
  .footer-logo {
    margin: 0 auto;
    width: 276px;
    font-size: 14px;
    letter-spacing: 0, 2em;
    text-align: right;
  }
}

.pageup {
  opacity: 0;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 100px;
  right: 5%;
  z-index: 30;
  cursor: pointer;
  transition: 1s all;
}

.cow-up {
  width: 50px;
  height: 50px;
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */