@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  font-family: "DM Sans", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #1b1f29;
}

body * {
  font-family: "Merriweather", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* Утилиты */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.link {
  color: #1b1f29;
  fill: #1b1f29;
  text-decoration: none;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover {
  color: #6D82B0;
  fill: #6D82B0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}
@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.contact-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #1b1f29;
}

.section-title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #141413;
}
@media (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.psevdo-active {
  position: relative;
}
.psevdo-active:after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  margin: 0 auto;
  margin-top: 8px;
  background: #2196f3;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .psevdo-active:after {
    margin-top: 28px;
  }
}

.current:visited {
  color: #6D82B0;
}

.button {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #6D82B0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  color: #6D82B0;
  background-color: #ffffff;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.menu-button .icon-cross {
  display: none;
}
@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.menu-button:hover .icon-menu {
  fill: #394763;
}
.menu-button:hover .icon-cross {
  fill: #394763;
}

.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}

.subscribe-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 200px;
  height: 50px;
  padding: 13px 29px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: #6D82B0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.subscribe-button:hover, .subscribe-button:focus {
  background-color: #ffffff;
  color: #6D82B0;
  fill: #6D82B0;
}
.subscribe-button:hover .icon-send, .subscribe-button:focus .icon-send {
  fill: #6D82B0;
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-button {
  display: inline-block;
  padding: 6px 22px;
  min-width: 73px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: #141413;
  background-color: #e4e9f3;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-button:hover, .list-button:focus {
  color: #ffffff;
  background-color: #6D82B0;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons-menu {
  margin-bottom: 50px;
}

.button-menu-list:not(:last-child) {
  margin-right: 8px;
}

.button-menu-list {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .button-menu-list {
    margin-bottom: 0;
  }
}

.button-menu-list:nth-child(n+2) {
  margin-bottom: 0;
}

.subscribe {
  margin-left: auto;
  text-align: center;
}

.subscribe-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .subscribe-form {
    flex-direction: row;
  }
}

.subscribe-input {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  background-color: #394763;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media (min-width: 768px) {
  .subscribe-input {
    width: 450px;
    margin-right: 12px;
  }
}
@media (min-width: 1200px) {
  .subscribe-input {
    margin-bottom: 0;
    width: 358px;
  }
}

button:hover,
.discription-btn:hover,
.discription-btn:hover,
.header-button:hover {
  cursor: pointer;
}

.aboutus {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  display: block;
  align-items: center;
  justify-content: center;
}

.aboutus-heading {
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 900;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: #394763;
}
@media screen and (min-width: 768px) {
  .aboutus-heading {
    font-size: 48px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1280px) {
  .aboutus-heading {
    font-size: 48px;
    line-height: 1.14;
  }
}

.list-direction {
  width: auto;
}
@media (min-width: 768px) {
  .list-direction {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .list-direction {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .item-direction:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .item-direction {
    width: calc((100% - 60px) / 2);
    margin-bottom: 30px;
  }
  .item-direction:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  .item-direction:nth-child(2n) {
    margin-left: 30px;
  }
}
@media (min-width: 1200px) {
  .item-direction {
    width: calc((100% - 120px) / 4);
    margin-bottom: 0;
  }
  .item-direction:not(:first-child) {
    margin-left: 30px;
  }
}

.item-div-us {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FAECCD;
}

.icon-direction {
  height: 100px;
  fill: #252525;
}

.icon-bus {
  height: 80px;
}

.directions {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #141413;
  text-align: center;
}

button:hover,
.discription-btn:hover,
.discription-btn:hover,
.header-button:hover {
  cursor: pointer;
}

.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-hero {
  height: 600px;
  width: 100%;
  border: 2px solid grey;
}

.hero-video {
  display: none;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero-video {
    display: block;
  }
}

.hero-img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero-img {
    display: none;
  }
}

.examples {
  background-color: #e4e9f3;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.examples-heading {
  padding-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 900;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: #394763;
}
@media screen and (min-width: 768px) {
  .examples-heading {
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .examples-heading {
    font-size: 48px;
    line-height: 1.14;
    margin-bottom: 20px;
  }
}

.examples-title {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: #2a3831;
}

.examples-text {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: #893f21;
}

.div-examples {
  display: block;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .div-examples {
    display: flex;
    max-width: 1100px;
  }
}

.gallery-list {
  display: flex;
  list-style: none;
}

.gallery-image {
  width: 350px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .gallery-image {
    width: 400px;
  }
}

.splide-section {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}
@media screen and (min-width: 768px) {
  .splide-section {
    width: 750px;
  }
}
@media screen and (min-width: 1200px) {
  .splide-section {
    display: block;
    width: 1100px;
  }
}

.my-page {
  background-color: #d41443;
}

.my-page.is-active {
  background-color: #d41443;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.example-box {
  margin-bottom: 50px;
}

.splide-thumb {
  width: 350px;
  display: flex;
  justify-content: center;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .splide-thumb {
    width: 400px;
  }
}

.arrow {
  right: -3em;
}

.arrow-prev {
  left: -3em;
}

.splide__slide {
  opacity: 0.7;
}

.splide__slide.is-active {
  opacity: 1;
}

.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: none;
}

button:hover,
.discription-btn:hover,
.discription-btn:hover,
.header-button:hover {
  cursor: pointer;
}

.prices-heading {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 900;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: #394763;
}
@media screen and (min-width: 768px) {
  .prices-heading {
    font-size: 48px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .prices-heading {
    font-size: 48px;
    line-height: 1.14;
  }
}

.prices-boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .prices-boxes {
    justify-content: center;
  }
}

.price-item {
  display: flex;
  border: 1px solid grey;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.15);
  border: 4px;
}

.large {
  margin-left: 2px;
  width: 165px;
  height: 190px;
}
.large:hover, .large:focus, .large:touchstart {
  color: #6D82B0;
  fill: #6D82B0;
}
@media screen and (min-width: 768px) {
  .large {
    margin-left: 5px;
    width: 175px;
    height: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .large {
    height: 300px;
    width: 275px;
  }
}

.big {
  margin-top: 60px;
  margin-left: 10px;
  width: 100px;
  height: 80px;
}
@media screen and (min-width: 768px) {
  .big {
    margin-left: 30px;
    width: 110px;
    height: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .big {
    height: 150px;
    width: 130px;
  }
}

.medium {
  margin-left: 10px;
  margin-top: 20px;
  width: 70px;
  height: 50px;
}
@media screen and (min-width: 768px) {
  .medium {
    margin-left: 20px;
    width: 80px;
    height: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .medium {
    width: 100px;
    height: 80px;
  }
}

.small {
  margin-left: 25px;
  margin-top: 25px;
  width: 40px;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .small {
    margin-left: 60px;
    margin-top: 40px;
    width: 50px;
    height: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .small {
    width: 75px;
    height: 90px;
  }
}

.extra-big {
  margin-top: 20px;
  margin-left: 40px;
  width: 110px;
  height: 90px;
}
@media screen and (min-width: 768px) {
  .extra-big {
    width: 120px;
    height: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .extra-big {
    width: 150px;
    height: 130px;
  }
}

.medium-big {
  margin-top: -10px;
  margin-left: 35px;
  width: 80px;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .medium-big {
    width: 90px;
    height: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .medium-big {
    width: 110px;
    height: 90px;
  }
}

.box-pr {
  display: flex;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products {
  background-color: #ffffff;
  border: 1px solid #d41443;
  height: 740px;
  width: 100%;
  display: block;
  align-items: center;
  justify-content: center;
}

.products-heading {
  margin-top: 0;
  margin-bottom: 144px;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 900;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: #2a3831;
}
@media screen and (min-width: 768px) {
  .products-heading {
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .products-heading {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 259px;
  }
}

.header {
  position: relative;
}

.header-main {
  background-color: #FAECCD;
  display: none;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}
@media screen and (min-width: 768px) {
  .header-main {
    display: flex;
    height: 40px;
  }
}

.header-contact-div {
  display: flex;
  justify-content: space-around;
}

.header-contacts {
  display: flex;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .header-contacts {
    width: 180px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    width: 200px;
  }
}

.header-contacts-social {
  justify-content: end;
  padding-right: 25px;
}

.contact-link {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #394763;
}
.contact-link:hover .icon, .contact-link:focus .icon {
  fill: #394763;
}
@media screen and (min-width: 768px) {
  .contact-link {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contact-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.social-links-header {
  display: inline-flex;
}

.social-item-header:not(:first-child) {
  margin-left: 20px;
}

.social-link-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-phone-number {
  margin-left: 10px;
}

.main-nav {
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .main-nav {
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .main-nav {
    height: 110px;
    justify-content: center;
  }
}

.header-menu-button {
  width: 120px;
}

.header-logo-mob {
  margin-right: 30px;
  margin-left: 30px;
}
@media screen and (min-width: 768px) {
  .header-logo-mob {
    display: none;
  }
}

.icon-logo {
  display: block;
  width: 80px;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .icon-logo {
    height: 100px;
    width: 150px;
  }
}

.links-mob {
  display: flex;
  width: 120px;
}
@media screen and (min-width: 768px) {
  .links-mob {
    display: none;
  }
}

.icon-mob-header {
  display: block;
  width: 24px;
  height: 24px;
  fill: #1b1f29;
}
.icon-mob-header:hover, .icon-mob-header:focus {
  fill: #6D82B0;
}

.menu-container {
  text-align: center;
  top: 100%;
  left: 0;
  display: flex;
  z-index: 100;
}
@media screen and (max-width: 767px) {
  .menu-container {
    text-align: left;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 0px 0px rgba(0, 0, 0, 0);
    position: absolute;
    border-radius: 0 0 100px 0;
    width: 240px;
    padding: 20px;
    padding-left: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
  }
}
.menu-container.is-open {
  display: block;
}
@media screen and (min-width: 768px) {
  .menu-container.is-open {
    display: flex;
    background-color: #ffffff;
    border-radius: 0;
  }
}

.site-nav {
  margin-bottom: 0;
  display: block;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .site-nav .menu-item {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: left;
  }
}
@media screen and (max-width: 767px) {
  .site-nav .menu-item:last-child {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .site-nav .menu-item:not(:last-child) {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .site-nav .menu-item:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav .menu-item:not(:last-child) {
    margin-right: 50px;
  }
}
.site-nav .link {
  display: block;
}

.hidden-logo {
  display: none;
  width: 150px;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .hidden-logo {
    display: block;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .hidden-logo {
    margin-right: 50px;
  }
}

.menu-item {
  width: 150px;
  display: block;
  align-items: center;
  justify-content: center;
}
.menu-item:hover, .menu-item:focus {
  color: #394763;
}

.nav-link {
  width: 300px;
  text-decoration: none;
  color: #1b1f29;
  font-size: 14px;
  font-weight: 400;
  text-shadow: 1px 1px 1px #5f5b5b;
}
@media screen and (min-width: 768px) {
  .nav-link {
    font-size: 16px;
    font-weight: 400;
  }
}

.auth-nav {
  align-items: center;
  display: block;
}
@media screen and (min-width: 768px) {
  .auth-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav .menu-item {
    margin-left: 70px;
    text-align: left;
  }
}

.mob-menu-contact {
  margin-left: 10px;
}
.mob-menu-contact:hover .icon, .mob-menu-contact:focus .icon {
  fill: #394763;
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  fill: #394763;
}
.icon:hover, .icon:focus {
  fill: #6D82B0;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  background-color: #394763;
  position: relative;
  display: flex;
  align-items: center;
}
.footer::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 85px;
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
}

@media screen and (min-width: 768px) {
  .footer-contact-part {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contact-part {
    display: flex;
    width: 550px;
    padding-left: 100px;
    justify-content: space-around;
    align-items: center;
  }
}

.footer-widget {
  margin-bottom: 50px;
  text-align: center;
}
@media (min-width: 1200px) {
  .footer-widget {
    margin-bottom: 0;
  }
}

.logo-svg {
  width: 145px;
  height: 100px;
}

.footer-contacts-link:not(:last-child) {
  margin-bottom: 8px;
}

.footer-contact-link {
  color: #FAECCD;
}

.adress {
  margin-top: 10px;
}

.footer-links {
  text-align: center;
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .footer-links {
    margin-bottom: 0;
  }
}

.join {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .join {
    text-align: left;
  }
}

.social-links {
  display: inline-flex;
  margin-bottom: 24px;
}
@media (min-width: 1200px) {
  .social-links {
    margin-bottom: 30px;
  }
}

.social-item:not(:first-child) {
  margin-left: 10px;
}

.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:hover, .social-link-footer:focus {
  background-color: #6D82B0;
  fill: #141413;
}

.social-icon-footer {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.social-icon-footer:hover, .social-icon-footer:focus {
  fill: #141413;
}

.pageup {
  opacity: 0;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 100px;
  right: 5%;
  z-index: 30;
  cursor: pointer;
  transition: 1s all;
}

.cow-up {
  width: 50px;
  height: 50px;
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */