// $main-text-cl: #757575;
// $accent-cl: #FFE0F3;
// $black: #212121;
// $white: #ffffff;
// $dark-bg: #2f303a;
// $grey-bg: #f5f4fa;
// $icon-grey: #afb1b8;


// $main: #e2c9a8;
// $main-text-cl: #1a1611;
// $accent-cl: #6D82B0;
// $black: #141413;
// $white: #ffffff;
// $dark-bg: #86745e;
// $grey-bg: #f3ede5;
// $icon-grey: #b49e84;


// $main: #e2c9a8;
$main-text-cl: #1b1f29;
$accent-cl: #6D82B0;
$black: #141413;
$white: #ffffff;
$dark-bg: #394763;
$beige-bg: #FFF9EB;
$grey-bg: #e4e9f3;
$icon-grey: #FAECCD;
$beige-text: #6e4c00;
// $icon-grey: #d2ae5f;