<section id="aboutus" class="aboutus">
  <h2 class="aboutus-heading">About Us</h2>
  <div class="container">
    <ul class="list-direction list">
      <li class="item-direction">
        <div class="item-div-us">
          <svg class="icon-about">
            <use href="./img/sprite.svg#koality" />
          </svg>
        </div>
        <div class="about-text-box">
          <h3 class="directions">Koality</h3>
          <span class="directions-text"
            >We only use natural cotton canvas.<br />Our previous artwork speaks
            for itself. Check out our gallery.</span
          >
        </div>
      </li>
      <li class="item-direction">
        <div class="item-div-us">
          <svg class="icon-about">
            <use href="./img/sprite.svg#handmade" />
          </svg>
        </div>
        <div class="about-text-box">
          <h3 class="directions">Handmade 100%</h3>
          <span class="directions-text"
            >Our artwork is 100% handmade and has a certain uniqueness and
            charm. We will show you each step along the way from pencil to final
            result.</span
          >
        </div>
      </li>
      <li class="item-direction">
        <div class="item-div-us">
          <svg class="icon-about">
            <use href="./img/sprite.svg#price" />
          </svg>
        </div>
        <div class="about-text-box">
          <h3 class="directions">Best price</h3>
          <span class="directions-text"
            >Our prices are the most competetive for the style and quality we
            offer.</span
          >
        </div>
      </li>
      <li class="item-direction">
        <div class="item-div-us">
          <svg class="icon-about">
            <use href="./img/sprite.svg#safety" />
          </svg>
        </div>
        <div class="about-text-box">
          <h3 class="directions">Hypoallergenic paints</h3>
          <span class="directions-text"
            >Hypoallergenic paint are formullated to reduce the risk of alergic
            reaction. Paint are odorless and will not fade over time.</span
          >
        </div>
      </li>
      <li class="item-direction">
        <div class="item-div-us">
          <svg class="icon-about">
            <use href="./img/sprite.svg#punctionality" />
          </svg>
        </div>
        <div class="about-text-box">
          <h3 class="directions">Punctionality</h3>
          <span class="directions-text"
            >We aim to provide fast and reliable service but also keep in mind
            that all paintings are handpainted. We strive for a 30 to 40 day
            twnaroud from order to delivery.
          </span>
        </div>
      </li>
      <li class="item-direction">
        <div class="item-div-us">
          <svg class="icon-about">
            <use href="./img/sprite.svg#easy" />
          </svg>
        </div>
        <div class="about-text-box">
          <h3 class="directions">Easy to order</h3>
          <span class="directions-text"
            >To start the order process simply get in touch by email, phone or
            whatsapp. We will discuss all details, sizes and styles. It's that
            easy.</span
          >
        </div>
      </li>
      <li class="item-direction">
        <div class="item-div-us">
          <svg class="icon-about">
            <use href="./img/sprite.svg#client" />
          </svg>
        </div>
        <div class="about-text-box">
          <h3 class="directions">Satisfied clients</h3>
          <span class="directions-text"
            >We will make your portrait as you wish. We can change background,
            style and add or remove figures.</span
          >
        </div>
      </li>
      <li class="item-direction">
        <div class="item-div-us">
          <svg class="icon-about">
            <use href="./img/sprite.svg#copy" />
          </svg>
        </div>
        <div class="about-text-box">
          <h3 class="directions">Portrait likeness 100%</h3>
          <span class="directions-text"
            >Our high quality artwork will have excelent similarity to your
            photo. Remember everything is possible if you just ask.</span
          >
        </div>
      </li>
    </ul>
  </div>
</section>
