<section id="aboutus" class="aboutus">

  <div class="container">
    <ul class="list-direction list">
      <li class="item-direction">
        <div class="item-div-us">
          <svg class="icon-direction icon-palitra">
            <use href="./img/sprite.svg#ka" />
          </svg>
        </div>
        <h3 class="directions">Koality</h3>
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
          nulla dicta rerum assumenda inventore, saepe iure et</span
        >
      </li>
      <li class="item-direction">
        <div class="item-div-us">
          <svg class="icon-direction icon-bus">
            <use href="./img/sprite.svg#bus" />
          </svg>
        </div>
        <h3 class="directions">Punctionality</h3>
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
          nulla dicta rerum assumenda inventore, saepe iure et</span
        >
      </li>
      <li class="item-direction">
        <div class="item-div-us">
          <svg class="icon-direction icon-price">
            <use href="./img/sprite.svg#price" />
          </svg>
        </div>
        <h3 class="directions">Best price</h3>
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
          nulla dicta rerum assumenda inventore, saepe iure et</span
        >
      </li>
      <li class="item-direction">
        <div class="item-div-us"></div>
        <h3 class="directions">Lorem ipsum</h3>
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
          nulla dicta rerum assumenda inventore, saepe iure et</span
        >
      </li>
    </ul>
  </div>
  <h2 class="aboutus-heading">About Us</h2>
  <div class="container">
    <ul class="list-direction list">
      <li class="item-direction">
        <div class="item-div-us">
          <svg class="icon-direction icon-palitra">
            <use href="./img/sprite.svg#ka" />
          </svg>
        </div>
        <h3 class="directions">Koality</h3>
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
          nulla dicta rerum assumenda inventore, saepe iure et</span
        >
      </li>
      <li class="item-direction">
        <div class="item-div-us">
          <svg class="icon-direction icon-bus">
            <use href="./img/sprite.svg#bus" />
          </svg>
        </div>
        <h3 class="directions">Punctionality</h3>
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
          nulla dicta rerum assumenda inventore, saepe iure et</span
        >
      </li>
      <li class="item-direction">
        <div class="item-div-us">
          <svg class="icon-direction icon-price">
            <use href="./img/sprite.svg#price" />
          </svg>
        </div>
        <h3 class="directions">Best price</h3>
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
          nulla dicta rerum assumenda inventore, saepe iure et</span
        >
      </li>
      <li class="item-direction">
        <div class="item-div-us"></div>
        <h3 class="directions">Lorem ipsum</h3>
        <span
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
          nulla dicta rerum assumenda inventore, saepe iure et</span
        >
      </li>
    </ul>
  </div>
  <!-- <div class="box-strong">
    <div class="box-one">
        <div class="strong">Pic</div>
        <div>
          <h3>Punctionality</h3>
          <p>fast car</p>
        </div>
      </div>
    </div>
    <div class="box-one">
      <div>
        <div class="strong">Pic</div>
        <div>
          <h3>Competetive price</h3>
          <p>scales with euro</p>
        </div>
      </div>
      <div>
        <div class="strong">Pic</div>
        <div>
          <h3>Strong point</h3>
          <p>random text</p>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <p>
    At Art Mi Up, we provide a service to get your favourite pictures hand,
    custom painted on canvas. We use a number of artists who are all very
    qualified in their profession. We only use the best artist’s with the best
    products, just take a look in the gallery section to see for yourself We
    specialise in oil on canvas and pastel style (more realistic). It’s quite a
    simple process from start to finish. You send us the picture you would like
    to get done. We then give you a price depending on style, size and
    complexity. If you are happy we do require a 50% deposit and then we send
    your picture to our artist. You will receive updates along the drawing and
    painting process and will be able to give some feedback to us to change
    certain aspects of the design or colours etc. When completed we will send
    you a picture of the finished product and require the balance to be paid. We
    then wait for delivery to us, do a quality controlled check and send to our
    delivery partners An Post. You can read our delivery policy in the menu. It
    is the perfect wedding gift, birthday present, anniversary gift or just for
    yourself. There is no limits to your choice of photo, be it a special pet in
    your life, the biggest wild salmon you ever caught or just a nice portrait
    of your house. There is no limit!!!! We are a 100% owned and registered
    company in ireland and pride ourselves on quality, customer support and the
    most competitive prices in Ireland Have a look through our gallery with
    before and after pictures of some of our very happy customers. You won;t be
    disappointed Ed and polina
  </p> -->
</section>
