<section id="delivery" class="products">
  <h2 class="products-heading">Delivery</h2>
  <p>
    Our delivery policy • Our delivery partners are An Post. We offer standard
    3-day delivery as soon as we receive your beautiful art package or opt for
    registered track and trace delivery also from An Post. We do recommend using
    track and trace as it’s more secure. Rest assured as soon as we receive your
    package from our artists, we will do a quality-controlled check and post
    that same day. • Our packing is secure and water resistant. It will arrive
    in a hardened cardboard tube. We have a 2-stage packing process. Stage 1 is
    wrapping the canvas in protective paper to ensure safe carriage of your new
    best friend. Stage 2 is a hardened cardboard tube sealed at both ends. You
    will notice it from our logos. • Please let us know at the order process
    where you would like the package delivered to when paying the balance on the
    account, so we are ready to ship. Get it delivered to your Workplace,
    friend’s home or at your home. Or maybe it’s a gift and would like it
    delivered to that special someone. • Orders shipped to Northern Ireland have
    the same terms as above. • Our prices for delivery are as follows. € for
    standard delivery € for track and trace delivery
  </p>
</section>
