<footer id="footer" class="footer">
  <div class="footer-container">
    <div class="common">
      <div class="fotter-first-container">
        <h2 class="footer-title">logo</h2>
        <p class="footer-passion">ED & P</p>
      </div>
      <div class="right">
        <div class="footer-social-container">
          <ul class="footer-list">
            <li class="footer-list-item">
              <a href="https://www.github.com">inst
                <!-- <svg class="footer-icon">
                  <use href="./images/footer/symbol-defs.svg#icon-github"></use>
                </svg> -->
              </a>
            </li>
            <li class="footer-list-item">
              <a href="https://www.telegram.com">tg
                <!-- <svg class="footer-icon">
                  <use
                    href="./images/footer/symbol-defs.svg#icon-telegram"
                  ></use>
                </svg> -->
              </a>
            </li>
            <li class="footer-list-item">
              <a href="https://www.facebook.com">fb
                <!-- <svg class="footer-icon">
                  <use
                    href="./images/footer/symbol-defs.svg#icon-facebook"
                  ></use>
                </svg> -->
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-contact-container">
          <p class="footer-pointer">
            Feel free to contact
            <span class="footer-contact">+353123456789</span>
          </p>
        </div>
      </div>
    </div>
    <div class="footer-logo-container">
      <p class="footer-logo">&copy; 2023 - ED & P. All Rights Reserved.</p>
    </div>
  </div>
</footer>