<footer id="footer" class="footer">
  <div class="container">
    <div class="footer-contact-part">
      <div class="footer-widget">
        <svg class="logo-svg">
          <use href="./img/sprite.svg#logo-footer" />
        </svg>
        <ul class="list">
          <li class="footer-contacts-link">
            <p class="footer-contact-link adress">IMEX Retail LTD</p>
            <p class="footer-contact-link adress">Navan, Co Meath</p>
            <p class="footer-contact-link adress">645562</p>
          </li>
        </ul>
      </div>
      <div class="footer-links">
        <h2 class="join">Join to us</h2>
        <ul class="social-links list">
          <li class="social-item">
            <a
              class="social-link-footer"
              href="whatsapp://send?text=Hello&phone=+353867953033&abid=+353867953033"
            >
              <svg class="social-icon-footer">
                <use href="./img/sprite.svg#whatsapp" />
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a class="social-link-footer" target="_blank" href="https://t.me/+353867953033">
              <svg class="social-icon-footer">
                <use href="./img/sprite.svg#telegram" />
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link-footer"
              target="_blank"
              href="https://www.messenger.com/t/polina.vorotnick"
            >
              <svg class="social-icon-footer">
                <use href="./img/sprite.svg#messenger" />
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a
              class="social-link-footer"
              target="_blank"
              href="https://www.instagram.com/koalaart.ie"
              target="_blank"
            >
              <svg class="social-icon-footer">
                <use href="./img/sprite.svg#instagram" />
              </svg>
            </a>
          </li>
        </ul>
        <ul class="list">
          <li class="footer-contacts-link">
            <a
              href="mailto:info@koalaart.com"
              class="link footer-contact-link"
            >
              info@koalaart.com
            </a>
          </li>
          <li class="footer-contacts-link">
            <a href="tel:+3853867953033" class="link footer-contact-link">
              +353867953033
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-links">
        <a href="./index.html">Privacy statement</a>
        <a href="./index.html">Delivery and returns</a>
        <button type="button">Order now</button>
      </div>
    </div>
    <div class="subscribe">
      <div class="footer-contact-link">
        <p>trademark &copy; 2023</p>
        <!-- <p class="footer-logo">&copy; 2023</p> -->
      </div>
    </div>
  </div>
</footer>



<!-- <footer id="footer" class="footer">
  <div class="footer-container container">
    <div class="common">
      <div class="left-section">
        <div class="logo-footer">
          <svg class="logo-svg">
            <use href="./img/sprite.svg#logo-footer" />
          </svg>
        </div>
          <ul class="footer-auth-nav list">
            <li class="footer-item">
              <a
                href="mailto:info@koalaart.com"
                class="link footer-contact-link"
              >
                <svg class="icon-contact">
                  <use href="./img/symbol-defs.svg#icon-mail" />
                </svg>
                info@koalaart.com
              </a>
            </li>
            <li class="footer-item">
              <a href="tel:+3853867953033" class="link footer-contact-link">
                <svg class="icon-contact">
                  <use href="./img/sprite.svg#phone" />
                </svg>
                +353867953033
              </a>
            </li>
          </ul>
      </div>
      <div class="right-section">
        <div>Join to us</div>
          <ul class="footer-links list">
            <li class="social-item-footer">
              <a
                class="social-link-footer whatsapp"
                href="whatsapp://send?text=Hello&phone=+353867953033&abid=+353867953033"
              >
                <svg class="icon">
                  <use href="./img/sprite.svg#whatsapp" />
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-link-footer" target="_blank" href="https://t.me/+353867953033">
                <svg class="icon">
                  <use href="./img/sprite.svg#telegram" />
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link-footer"
                target="_blank"
                href="https://www.messenger.com/t/polina.vorotnick"
              >
                <svg class="icon">
                  <use href="./img/sprite.svg#messenger" />
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link-footer"
                target="_blank"
                href="https://www.instagram.com/koalaart.ie"
                target="_blank"
              >
                <svg class="icon">
                  <use href="./img/sprite.svg#instagram" />
                </svg>
              </a>
            </li>
          </ul> -->
          <!-- <a
            class="whatsapp"
            href="whatsapp://send?text=Hello&phone=+353867953033&abid=+353867953033"
          >
            <svg class="icon">
              <use href="./img/sprite.svg#whatsapp" />
            </svg>
          </a>
          <a target="_blank" href="https://t.me/+353867953033">
            <svg class="icon">
              <use href="./img/sprite.svg#telegram" />
            </svg>
          </a>
          <a
            target="_blank"
            href="https://www.messenger.com/t/polina.vorotnick"
          >
            <svg class="icon">
              <use href="./img/sprite.svg#messenger" />
            </svg>
          </a>
          <a
            target="_blank"
            href="https://www.instagram.com/koalaart.ie"
            target="_blank"
          >
            <svg class="icon">
              <use href="./img/sprite.svg#instagram" />
            </svg>
          </a> -->
      <!-- </div>
    </div> -->
    <!-- <div class="footer-logo-container">
      <p class="footer-logo">&copy; 2023</p>
    </div> -->
  <!-- </div>
</footer> -->
