<header id="up" class="header">
  <div class="header-main">
    <div class="container header-contact-div">
      <div class="header-contacts">
        <a class="link contact-link" href="tel:+353867953033">
          <svg class="icon">
            <use href="./img/sprite.svg#phone" />
          </svg>
          <p class="header-phone-number">+353867953033</p>
        </a>
      </div>
      <div class="header-contacts">
        <a href="./index.html" class="link contact-link"> Delivery policy </a>
      </div>
      <div class="header-contacts">
        <a href="./index.html" class="link contact-link">
          Orders and payments
        </a>
      </div>
      <div class="header-contacts header-contacts-social">
        <ul class="social-links-header list">
          <li class="social-item-header">
            <a
              class="social-link-header"
              target="_blank"
              href="https://www.instagram.com/koalaart.ie"
              target="_blank"
            >
              <svg class="icon">
                <use href="./img/sprite.svg#instagram" />
              </svg>
            </a>
          </li>
          <li class="social-item-header">
            <a
              class="social-link-header link"
              target="_blank"
              href="https://www.facebook.com/koalaart.ie"
            >
              <svg class="icon">
                <use href="./img/sprite.svg#facebook" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <nav class="main-nav">
    <div class="header-logo-mob">
      <a href="./index.html">
        <svg class="icon-logo">
          <use href="./img/sprite.svg#logo" />
        </svg>
      </a>
    </div>
    <button
      type="button"
      class="menu-button header-menu-button"
      aria-expanded="false"
      aria-controls="menu-container"
      data-menu-button
    >
      <svg width="40" height="40" aria-label="Mobile menu switcher">
        <use class="icon-cross" href="./img/symbol-defs.svg#cross" />
        <use class="icon-menu" href="./img/symbol-defs.svg#menu" />
      </svg>
    </button>

    <div class="menu-container" id="menu-container" data-menu>
      <ul class="site-nav list" data-link>
        <li class="menu-item">
          <a href="#aboutus" class="nav-link"> About us </a>
        </li>
        <li class="menu-item">
          <a href="#examples" class="nav-link">Gallery</a>
        </li>
        <li class="hidden-logo">
          <a href="./index.html" class="main-logo">
            <svg class="icon-logo">
              <use href="./img/sprite.svg#logo" />
            </svg>
          </a>
        </li>
        <li class="menu-item">
          <a href="#prices" class="nav-link">Prices</a>
        </li>
        <li class="menu-item">
          <a href="#footer" class="nav-link">Contacts</a>
        </li>
      </ul>

      <ul class="auth-nav list">
        <li class="menu-item">
          <a href="mailto:info@koalaart.com" class="link contact-link">
            <p class="mob-menu-contact">info@koalaart.com</p>
          </a>
        </li>
        <li class="menu-item">
          <a href="tel:+353867953033" class="link contact-link">
            <p class="mob-menu-contact">+353867953033</p>
          </a>
        </li>
      </ul>
      <div class="mob-menu-links">
        <a
          href="whatsapp://send?text=Hello&phone=+353867953033&abid=+353867953033"
        >
          <svg class="icon-mob-header icon-mob-menu">
            <use href="./img/sprite.svg#whatsapp" />
          </svg>
        </a>
        <a
          target="_blank"
          href="https://www.messenger.com/t/polina.vorotnick"
        >
          <svg class="icon-mob-header icon-mob-menu">
            <use href="./img/sprite.svg#messenger" />
          </svg>
        </a>
        <a target="_blank" href="https://t.me/+353867953033">
          <svg class="icon-mob-header icon-mob-menu">
            <use href="./img/sprite.svg#telegram" />
          </svg>
        </a>
        <a
          target="_blank"
          href="https://www.instagram.com/koalaart.ie"
          target="_blank"
        >
          <svg class="icon-mob-header icon-mob-menu">
            <use href="./img/sprite.svg#instagram" />
          </svg>
        </a>
        <a
          class="social-link-header link"
          target="_blank"
          href="https://www.messenger.com/t/polina.vorotnick"
        >
          <svg class="icon-mob-header icon-mob-menu">
            <use href="./img/sprite.svg#facebookmob" />
          </svg>
        </a>
      </div>
    </div>
  </nav>
</header>
