<header id="up" class="header">
  <div class="header-main">
    <div class="header-contacts">
      <a href="mailto:info@devstudio.com" class="link contact-link">
        <svg class="icon-contact">
          <use href="./img/symbol-defs.svg#icon-mail" />
        </svg>
        info@koalaart.ie
      </a>
      <a href="tel:+353867953033" class="link contact-link">
        <svg class="icon-contact">
          <use href="./img/symbol-defs.svg#icon-tel" />
        </svg>
        +353867953033
      </a>
    </div>
    <a href="./index.html" class="logo"> Logo </a>
    <div class="header-contacts">
      <a
        href="whatsapp://send?text=Hello&phone=+353867953033&abid=+353867953033"
        >Wh</a
      >
      <a target="_blank" href="https://t.me/+353867953033">Tg</a>
      <a target="_blank" href="https://www.messenger.com/t/polina.vorotnick"
        >Fb</a
      >
      <a
        target="_blank"
        href="https://www.instagram.com/koalaart.ie"
        target="_blank"
        >In</a
      >
    </div>
  </div>

  <div class="container-navigation">
    <nav class="main-nav">
      <button
        type="button"
        class="menu-button"
        aria-expanded="false"
        aria-controls="menu-container"
        data-menu-button
      >
        <svg width="40" height="40" aria-label="Переключатель мобильного меню">
          <use class="icon-cross" href="./img/symbol-defs.svg#cross" />
          <use class="icon-menu" href="./img/symbol-defs.svg#menu" />
        </svg>
      </button>
      <div class="header-contacts links-mob">
        <a href="tel:+353867953033" class="link">
          <svg class="icon-contact">
            <use href="./img/symbol-defs.svg#icon-tel" />
          </svg>
        </a>
        <a
          href="whatsapp://send?text=Hello&phone=+353867953033&abid=+353867953033"
          >Wh</a
        >
        <a target="_blank" href="https://t.me/+353867953033">Tg</a>
        <a target="_blank" href="https://www.messenger.com/t/polina.vorotnick"
          >Fb</a
        >
        <a
          target="_blank"
          href="https://www.instagram.com/koalaart.ie"
          target="_blank"
          >In</a
        >
      </div>
      <div>
        <a href="./index.html" class="logo logo-mob"> Logo </a>
      </div>

      <div class="menu-container" id="menu-container" data-menu>
        <ul class="site-nav list" data-link>
          <li class="item">
            <a href="#aboutus" class="nav-link">About us</a>
            <!-- <a href="./index.html" class="link menu-link current">Студия</a> -->
          </li>
          <li class="item">
            <a href="#examples" class="nav-link">Product examples</a>
            <!-- <a href="./portfolio.html" class="link menu-link">Портфолио</a> -->
          </li>
          <li class="item">
            <a href="#prices" class="nav-link">Prices</a>
          </li>
          <li class="item">
            <a href="#order" class="nav-link">Orders & Payments</a>
          </li>
          <li class="item">
            <a href="#delivery" class="nav-link">Delivery & returns policy</a>
          </li>
          <li class="item">
            <a href="#footer" class="nav-link">Contacts</a>
          </li>
        </ul>

        <ul class="auth-nav list">
          <li class="item">
            <a href="mailto:info@koalaart.com" class="link contact-link">
              <svg class="icon-contact">
                <use href="./img/symbol-defs.svg#icon-mail" />
              </svg>
              info@koalaart.com
            </a>
          </li>
          <li class="item">
            <a href="tel:+3853867953033" class="link contact-link">
              <svg class="icon-contact">
                <use href="./img/symbol-defs.svg#icon-tel" />
              </svg>
              +353867953033
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
