<div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <button class="btn-close" type="button" data-modal-close>
        <svg class="img-close">
          <use href="./img/symbol-defs.svg#cross" />
        </svg>
      </button>
      <h3 class="request-title">easy peasy</h3>
      <!-- <form class="request-form">
        <ul class="list list-request">
          <li class="form-field">
            <label for="name" class="label-form">Имя</label>
            <input class="input-form" type="text" name="name" id="name" />
            <svg class="name-icon">
              <use href="./img/symbol-defs (2).svg#name" />
            </svg>
          </li>
          <li class="form-field">
            <label for="tel" class="label-form">Телефон</label>
            <input class="input-form" type="tel" name="tel" id="tel" />
            <svg class="name-icon">
              <use href="./img/symbol-defs (2).svg#tel" />
            </svg>
          </li>
          <li class="form-field">
            <label for="mail" class="label-form">Почта</label>
            <input class="input-form" type="email" name="mail" id="mail" />
            <svg class="name-icon">
              <use href="./img/symbol-defs (2).svg#mail" />
            </svg>
          </li>
          <li class="form-field">
            <label for="comment" class="label-form">Комментарий</label>
            <textarea
              class="textarea-form"
              name="comment"
              id="comment"
              placeholder="Введите текст"
            ></textarea>
          </li>
        </ul>
        <div class="modal-check">
          <label class="label-check">
            <input class="checkbox" type="checkbox" name="" />
            <span class="icon"></span>
            Соглашаюсь с рассылкой и принимаю
            <a class="conditions" href="">Условия договора</a>
          </label>
        </div>
        <div class="form-button">
          <button class="button form-button" type="submit">Отправить</button>
        </div>
      </form> -->
    </div>
  </div>