<section id="order" class="products">
    <section id="image-carousel" class="splide" aria-label="Beautiful Images">
        <div class="splide__track">
              <ul class="splide__list">
                  <li class="splide__slide">
                      <img src="../src/img/8.jpg" alt="">
                  </li>
                  <li class="splide__slide">
                      <img src="../src/img/1.jpg" alt="">
                  </li>
                  <li class="splide__slide">
                      <img src="../src/img/5.jpg" alt="">
                  </li>
              </ul>
        </div>
      </section>
</section>
