<section id="prices" class="prices">
  <div class="container prices-container">
    <h2 class="prices-heading">Prices</h2>
    <p class="prices-attention">price will depend of quantity people and how quick. Ask us we will count</p>
    <div class="prices-boxes">
      <div class="box-pr">
        <div class="price-item">
          <img class="xxl" src="../src/img/frame.png">
          <div class="xxl-text">
            <p class="size-text">140x120</p>
            <p class="price-text">from <span class="price">1100€</span></p>
          </div>
        </div>
        <div class="price-item">
          <img class="large" src="../src/img/frame.png">
          <div class="large-text">
            <p class="size-text">50x60</p>
            <p class="price-text">from <span class="price">500€</span></p>
          </div>
        </div>
        <div>
          <div class="price-item">
            <img class="small" src="../src/img/frame.png">
            <div class="small-text">
              <p class="size-text">30x40</p>
              <p class="price-text">from <span class="price">350€</span></p>
            </div>
          </div>
          <div class="price-item">
            <img class="xs" src="../src/img/frame.png">
            <div class="xs-text">
              <p class="size-text">25x35</p>
              <p class="price-text">from <span class="price">330€</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="box-pr">
        <div class="price-item">
          <img class="xl" src="../src/img/frame.png">
          <div class="xl-text">
            <p class="size-text">70x80</p>
            <p class="price-text">from <span class="price">630€</span></p>
          </div>
        </div>
        <div class="price-item">
          <img class="medium" src="../src/img/frame.png">
          <div class="medium-text">
            <p class="size-text">40x50</p>
            <p class="price-text">from <span class="price">410€</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
