<section id="prices" class="prices">
  <div class="container prices-container">
    <h2 class="prices-heading">Prices</h2>
    <div class="prices-boxes">
      <div class="box-pr">
        <div class="large price-item">
          <div>
            <p>140x120</p>
            <p>From 100€</p>
          </div>
        </div>
        <div class="big price-item">
          <div>
            <p>50x60</p>
            <p>From 100€</p>
          </div>
        </div>
        <div>
          <div class="medium price-item">
            <div>
              <p>30x40</p>
              <p>From 100€</p>
            </div>
          </div>
          <div class="small price-item">
            <div>
              <p>25x35</p>
              <p>From 100€</p>
            </div>
          </div>
        </div>
      </div>
      <div class="box-pr">
        <div class="extra-big price-item">
          <div>
            <p>70x80</p>
            <p>From 100€</p>
          </div>
        </div>
        <div class="medium-big price-item">
          <div>
            <p>40x50</p>
            <p>From 100€</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
