<section id="examples" class="examples">
  <div class="container">
    <h2 class="examples-heading">Products</h2>

    <div>
      <p class="examples-text">Move the slider and see how the photo turns into a painting</p>
    </div>

    <div class="div-examples">
      <div>
        <section
          id="main-carousel"
          class="splide splide-thumb"
          aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel."
        >
          <div class="splide__arrows">
            <button class="splide__arrow splide__arrow--prev">Prev</button>
            <button class="splide__arrow splide__arrow--next">Next</button>
          </div>
          <div class="splide__track">
            <p class="examples-title">Oil examples</p>
            <ul class="splide__list splide-list">
              <li class="splide__slide main-img">
                <img-comparison-slider
                  tabindex="0"
                  class="gallery-image rendered"
                >
                  <figure slot="first" class="before">
                    <img
                      slot="first"
                      class="gallery-img"
                      src="../src/img/examples/002.jpg"
                    />
                    <figcaption>After</figcaption>
                  </figure>
                  <figure slot="second" class="after">
                    <img
                      slot="second"
                      class="gallery-img"
                      src="../src/img/examples/001.jpg"
                    />
                    <figcaption>Before</figcaption>
                  </figure>
                </img-comparison-slider>
              </li>
              <li class="splide__slide main-img">
                <img-comparison-slider
                  tabindex="0"
                  class="gallery-image rendered"
                >
                  <figure slot="first" class="before">
                    <img
                      slot="first"
                      class="gallery-img"
                      src="../src/img/examples/004.jpg"
                    />
                    <figcaption>After</figcaption>
                  </figure>
                  <figure slot="second" class="after">
                    <img
                      slot="second"
                      class="gallery-img"
                      src="../src/img/examples/003.jpg"
                    />
                    <figcaption>Before</figcaption>
                  </figure>
                </img-comparison-slider>
              </li>
              <li class="splide__slide main-img">
                <img-comparison-slider
                  tabindex="0"
                  class="gallery-image rendered"
                >
                  <figure slot="first" class="before">
                    <img
                      slot="first"
                      class="gallery-img"
                      src="../src/img/examples/006.jpg"
                    />
                    <figcaption>After</figcaption>
                  </figure>
                  <figure slot="second" class="after">
                    <img
                      slot="second"
                      class="gallery-img"
                      src="../src/img/examples/005.jpg"
                    />
                    <figcaption>Before</figcaption>
                  </figure>
                </img-comparison-slider>
              </li>
              <li class="splide__slide main-img">
                <img-comparison-slider
                  tabindex="0"
                  class="gallery-image rendered"
                >
                  <figure slot="first" class="before">
                    <img
                      slot="first"
                      class="gallery-img"
                      src="../src/img/examples/008.jpg"
                    />
                    <figcaption>After</figcaption>
                  </figure>
                  <figure slot="second" class="after">
                    <img
                      slot="second"
                      class="gallery-img"
                      src="../src/img/examples/007.jpg"
                    />
                    <figcaption>Before</figcaption>
                  </figure>
                </img-comparison-slider>
              </li>
              <li class="splide__slide main-img">
                <img-comparison-slider
                  tabindex="0"
                  class="gallery-image rendered"
                >
                  <figure slot="first" class="before">
                    <img
                      slot="first"
                      class="gallery-img"
                      src="../src/img/examples/010.jpg"
                    />
                    <figcaption>After</figcaption>
                  </figure>
                  <figure slot="second" class="after">
                    <img
                      slot="second"
                      class="gallery-img"
                      src="../src/img/examples/009.jpg"
                    />
                    <figcaption>Before</figcaption>
                  </figure>
                </img-comparison-slider>
              </li>
              <li class="splide__slide main-img">
                <img-comparison-slider
                  tabindex="0"
                  class="gallery-image rendered"
                >
                  <figure slot="first" class="before">
                    <img
                      slot="first"
                      class="gallery-img"
                      src="../src/img/examples/012.jpg"
                    />
                    <figcaption>After</figcaption>
                  </figure>
                  <figure slot="second" class="after">
                    <img
                      slot="second"
                      class="gallery-img"
                      src="../src/img/examples/011.jpg"
                    />
                    <figcaption>Before</figcaption>
                  </figure>
                </img-comparison-slider>
              </li>
              <li class="splide__slide main-img">
                <img-comparison-slider
                  tabindex="0"
                  class="gallery-image rendered"
                >
                  <figure slot="first" class="before">
                    <img
                      slot="first"
                      class="gallery-img"
                      src="../src/img/examples/014.jpg"
                    />
                    <figcaption>After</figcaption>
                  </figure>
                  <figure slot="second" class="after">
                    <img
                      slot="second"
                      class="gallery-img"
                      src="../src/img/examples/013.jpg"
                    />
                    <figcaption>Before</figcaption>
                  </figure>
                </img-comparison-slider>
              </li>
              <li class="splide__slide main-img">
                <img-comparison-slider
                  tabindex="0"
                  class="gallery-image rendered"
                >
                  <figure slot="first" class="before">
                    <img
                      slot="first"
                      class="gallery-img"
                      src="../src/img/examples/016.jpg"
                    />
                    <figcaption>After</figcaption>
                  </figure>
                  <figure slot="second" class="after">
                    <img
                      slot="second"
                      class="gallery-img"
                      src="../src/img/examples/015.jpg"
                    />
                    <figcaption>Before</figcaption>
                  </figure>
                </img-comparison-slider>
              </li>
              <li class="splide__slide main-img">
                <img-comparison-slider
                  tabindex="0"
                  class="gallery-image rendered"
                >
                  <figure slot="first" class="before">
                    <img
                      slot="first"
                      class="gallery-img"
                      src="../src/img/examples/018.jpg"
                    />
                    <figcaption>After</figcaption>
                  </figure>
                  <figure slot="second" class="after">
                    <img
                      slot="second"
                      class="gallery-img"
                      src="../src/img/examples/017.jpg"
                    />
                    <figcaption>Before</figcaption>
                  </figure>
                </img-comparison-slider>
              </li>
              <li class="splide__slide main-img">
                <img-comparison-slider
                  tabindex="0"
                  class="gallery-image rendered"
                >
                  <figure slot="first" class="before">
                    <img
                      slot="first"
                      class="gallery-img"
                      src="../src/img/examples/020.jpg"
                    />
                    <figcaption>After</figcaption>
                  </figure>
                  <figure slot="second" class="after">
                    <img
                      slot="second"
                      class="gallery-img"
                      src="../src/img/examples/019.jpg"
                    />
                    <figcaption>Before</figcaption>
                  </figure>
                </img-comparison-slider>
              </li>
              <li class="splide__slide main-img">
                <img-comparison-slider
                  tabindex="0"
                  class="gallery-image rendered"
                >
                  <figure slot="first" class="before">
                    <img
                      slot="first"
                      class="gallery-img"
                      src="../src/img/examples/022.jpg"
                    />
                    <figcaption>After</figcaption>
                  </figure>
                  <figure slot="second" class="after">
                    <img
                      slot="second"
                      class="gallery-img"
                      src="../src/img/examples/021.jpg"
                    />
                    <figcaption>Before</figcaption>
                  </figure>
                </img-comparison-slider>
              </li>
              <li class="splide__slide main-img">
                <img-comparison-slider
                  tabindex="0"
                  class="gallery-image rendered"
                >
                  <figure slot="first" class="before">
                    <img
                      slot="first"
                      class="gallery-img"
                      src="../src/img/examples/024.jpg"
                    />
                    <figcaption>After</figcaption>
                  </figure>
                  <figure slot="second" class="after">
                    <img
                      slot="second"
                      class="gallery-img"
                      src="../src/img/examples/023.jpg"
                    />
                    <figcaption>Before</figcaption>
                  </figure>
                </img-comparison-slider>
              </li>
              <li class="splide__slide main-img">
                <img-comparison-slider
                  tabindex="0"
                  class="gallery-image rendered"
                >
                  <figure slot="first" class="before">
                    <img
                      slot="first"
                      class="gallery-img"
                      src="../src/img/examples/028.jpg"
                    />
                    <figcaption>After</figcaption>
                  </figure>
                  <figure slot="second" class="after">
                    <img
                      slot="second"
                      class="gallery-img"
                      src="../src/img/examples/027.jpg"
                    />
                    <figcaption>Before</figcaption>
                  </figure>
                </img-comparison-slider>
              </li>
              <li class="splide__slide main-img">
                <img-comparison-slider
                  tabindex="0"
                  class="gallery-image rendered"
                >
                  <figure slot="first" class="before">
                    <img
                      slot="first"
                      class="gallery-img"
                      src="../src/img/examples/031.jpg"
                    />
                    <figcaption>After</figcaption>
                  </figure>
                  <figure slot="second" class="after">
                    <img
                      slot="second"
                      class="gallery-img"
                      src="../src/img/examples/030.jpg"
                    />
                    <figcaption>Before</figcaption>
                  </figure>
                </img-comparison-slider>
              </li>
              <li class="splide__slide main-img">
                <img-comparison-slider
                  tabindex="0"
                  class="gallery-image rendered"
                >
                  <figure slot="first" class="before">
                    <img
                      slot="first"
                      class="gallery-img"
                      src="../src/img/examples/041.jpg"
                    />
                    <figcaption>After</figcaption>
                  </figure>
                  <figure slot="second" class="after">
                    <img
                      slot="second"
                      class="gallery-img"
                      src="../src/img/examples/040.jpg"
                    />
                    <figcaption>Before</figcaption>
                  </figure>
                </img-comparison-slider>
              </li>
              <!-- <li class="splide__slide main-img">
                <img-comparison-slider
                  tabindex="0"
                  class="gallery-image rendered"
                >
                  <figure slot="first" class="before">
                    <img
                      slot="first"
                      class="gallery-img"
                      src="../src/img/examples/042.jpg"
                    />
                    <figcaption>After</figcaption>
                  </figure>
                  <figure slot="second" class="after">
                    <img
                      slot="second"
                      class="gallery-img"
                      src="../src/img/examples/043.jpg"
                    />
                    <figcaption>Before</figcaption>
                  </figure>
                </img-comparison-slider>
              </li> -->
              <li class="splide__slide main-img">
                <img-comparison-slider
                  tabindex="0"
                  class="gallery-image rendered"
                >
                  <figure slot="first" class="before">
                    <img
                      slot="first"
                      class="gallery-img"
                      src="../src/img/examples/045.jpg"
                    />
                    <figcaption>After</figcaption>
                  </figure>
                  <figure slot="second" class="after">
                    <img
                      slot="second"
                      class="gallery-img"
                      src="../src/img/examples/044.jpg"
                    />
                    <figcaption>Before</figcaption>
                  </figure>
                </img-comparison-slider>
              </li>
            </ul>
          </div>
        </section>

        <section
          id="thumbnail-carousel"
          class="splide splide-thumb"
          aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel."
        >
          <div class="splide__track track-div">
            <ul class="splide__list">
              <li class="splide__slide splide-li">
                <img class="splide-img" src="../src/img/examples/001.jpg" alt="" />
              </li>
              <li class="splide__slide splide-li">
                <img class="splide-img" src="../src/img/examples/004.jpg" alt="" />
              </li>
              <li class="splide__slide splide-li">
                <img class="splide-img" src="../src/img/examples/006.jpg" alt="" />
              </li>
              <li class="splide__slide splide-li">
                <img class="splide-img" src="../src/img/examples/008.jpg" alt="" />
              </li>
              <li class="splide__slide splide-li">
                <img class="splide-img" src="../src/img/examples/010.jpg" alt="" />
              </li>
              <li class="splide__slide splide-li">
                <img class="splide-img" src="../src/img/examples/012.jpg" alt="" />
              </li>
              <li class="splide__slide splide-li">
                <img class="splide-img" src="../src/img/examples/014.jpg" alt="" />
              </li>
              <li class="splide__slide splide-li">
                <img class="splide-img" src="../src/img/examples/016.jpg" alt="" />
              </li>
              <li class="splide__slide splide-li">
                <img class="splide-img" src="../src/img/examples/018.jpg" alt="" />
              </li>
              
              <li class="splide__slide splide-li">
                <img class="splide-img" src="../src/img/examples/020.jpg" alt="" />
              </li>
              <li class="splide__slide splide-li">
                <img class="splide-img" src="../src/img/examples/022.jpg" alt="" />
              </li>
              <li class="splide__slide splide-li">
                <img class="splide-img" src="../src/img/examples/024.jpg" alt="" />
              </li>
              <li class="splide__slide splide-li">
                <img class="splide-img" src="../src/img/examples/028.jpg" alt="" />
              </li>
              <li class="splide__slide splide-li">
                <img class="splide-img" src="../src/img/examples/031.jpg" alt="" />
              </li>
              <li class="splide__slide splide-li">
                <img class="splide-img" src="../src/img/examples/040.jpg" alt="" />
              </li>
              <!-- <li class="splide__slide splide-li">
                <img class="splide-img" src="../src/img/examples/042.jpg" alt="" />
              </li> -->
              <li class="splide__slide splide-li">
                <img class="splide-img" src="../src/img/examples/045.jpg" alt="" />
              </li>

            </ul>
          </div>
        </section>
      </div>

      <!-- <div class="example-box">
        <section
          id="main-carousel-p"
          class="splide splide-thumb"
          aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel."
        >
          <div class="splide__track">
            <p class="examples-title">Pastel examples</p>
            <ul class="splide__list">
              <li class="splide__slide main-img">
                <img-comparison-slider class="gallery-image">
                  <img
                    slot="first"
                    class="gallery-img"
                    src="../src/img/1.jpg"
                  />
                  <img
                    slot="second"
                    class="gallery-img"
                    src="../src/img/2.jpg"
                  />
                </img-comparison-slider>
              </li>
              <li class="splide__slide main-img">
                <img-comparison-slider class="gallery-image">
                  <img
                    slot="first"
                    class="gallery-img"
                    src="../src/img/5.jpg"
                  />
                  <img
                    slot="second"
                    class="gallery-img"
                    src="../src/img/9.jpg"
                  />
                </img-comparison-slider>
              </li>
              <li class="splide__slide main-img">
                <img-comparison-slider class="gallery-image">
                  <img
                    slot="first"
                    class="gallery-img"
                    src="../src/img/7.jpg"
                  />
                  <img
                    slot="second"
                    class="gallery-img"
                    src="../src/img/8.jpg"
                  />
                </img-comparison-slider>
              </li>
              <li class="splide__slide main-img">
                <img-comparison-slider class="gallery-image">
                  <img
                    slot="first"
                    class="gallery-img"
                    src="../src/img/1.jpg"
                  />
                  <img
                    slot="second"
                    class="gallery-img"
                    src="../src/img/2.jpg"
                  />
                </img-comparison-slider>
              </li>
              <li class="splide__slide main-img">
                <img-comparison-slider class="gallery-image">
                  <img
                    slot="first"
                    class="gallery-img"
                    src="../src/img/5.jpg"
                  />
                  <img
                    slot="second"
                    class="gallery-img"
                    src="../src/img/9.jpg"
                  />
                </img-comparison-slider>
              </li>
              <li class="splide__slide main-img">
                <img-comparison-slider class="gallery-image">
                  <img
                    slot="first"
                    class="gallery-img"
                    src="../src/img/7.jpg"
                  />
                  <img
                    slot="second"
                    class="gallery-img"
                    src="../src/img/8.jpg"
                  />
                </img-comparison-slider>
              </li>
            </ul>
          </div>
        </section>

        <section
          id="thumbnail-carousel-p"
          class="splide splide-thumb"
          aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel."
        >
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <img src="../src/img/1.jpg" alt="" />
              </li>
              <li class="splide__slide">
                <img src="../src/img/5.jpg" alt="" />
              </li>
              <li class="splide__slide">
                <img src="../src/img/7.jpg" alt="" />
              </li>
              <li class="splide__slide">
                <img src="../src/img/1.jpg" alt="" />
              </li>
              <li class="splide__slide">
                <img src="../src/img/5.jpg" alt="" />
              </li>
              <li class="splide__slide">
                <img src="../src/img/7.jpg" alt="" />
              </li>
            </ul>
          </div>
        </section>
      </div> -->
    </div>
  </div>
</section>
