.subscribe {
    margin-left: auto;
    text-align: center;
  }
  
  .subscribe-form {
    display: flex;
    align-items: center;
    flex-direction: column;
  
    @include for-size(desktop) {
      flex-direction: row;
    }
  }
  
  .subscribe-input {
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    padding: 15px 16px;
    background-color: $dark-bg;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  
    @include for-size(tablet) {
      width: 450px;
      margin-right: 12px;
    }
  
    @include for-size(desktop) {
      margin-bottom: 0;
      width: 358px;
    }
  }
  