@import './styleDefoult/mixin';
.aboutus {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  display: block;
  align-items: center;
  justify-content: center;

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.aboutus-heading {
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 900;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: $dark-bg;
  text-shadow: 1px 1px 3px $main-text-cl;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1200px) {
    font-size: 48px;
    line-height: 1.14;
  }
}

.list-direction {
  width: auto;
  text-align: center;

  @include for-size(tablet) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  @include for-size(desktop) {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .item-direction:not(:last-child) {
    margin-bottom: 30px;
  }
}

.item-direction {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
  0px 0px 0px rgba(0, 0, 0, 0);
  @include for-size(tablet) {
    width: calc((100% - 60px) / 2);
    margin-bottom: 30px;

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }

    &:nth-child(2n) {
      margin-left: 30px;
    }
  }

  @include for-size(desktop) {
    width: calc((100% - 120px) / 4);
    margin-bottom: 30px;
    &:not(:first-child) {
      margin-left: 30px;
    }
    &:nth-child(5n) {
      margin-left: 0;
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }
}

.item-div-us {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $icon-grey;

  @include for-size(desktop) {
    margin-bottom: 30px;
  }
}

.directions {
  margin-bottom: 10px;
  @include fonts(16px, 700, 1.14, 0.03em);
  text-transform: uppercase;
  color: $main-text-cl;
  text-align: center;
  text-shadow: 1px 1px 3px $accent-cl;
}

.directions-text{
  text-align: center;
}

.icon-about {
  fill: $dark-bg;
  display: block;
  height: 100px;
  width: 150px;
}

.about-text-box{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;

  @include for-size(desktop) {
    padding-bottom: 30px;
  }
}