@import './styleDefoult/mixin';
.hero {

  // background-color: #D44A7A;
  // border: 5px solid black;
  // height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .box-hero {
//   height: 600px;
//   width: 100%;
//   border: 2px solid grey;
// }

.hero-video{
  display: none;
  width: 100%;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.hero-img{
  width: 100%;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

