@import './styleDefoult/mixin';
.hero {
  background-color: #D44A7A;
  border: 5px solid black;
  height: 740px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



